body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 2900px;
}

.box {
    width: 80px;
    height: 80px;
    background: rgb(0, 255, 213);
    border-radius: 10px;
    margin-top: 10px;
}
.rect {
   width: 160px;
}

.attr {
    position: relative;
    left: 200px
}

.rotationX {
    position: relative;
    left: 200px

}

.btn {
    width: 100px;
    text-align: center;
    border: 1px solid #f20;
    margin: 10px 0;
    cursor: pointer;
}

/* .basic {
    position: relative;
    top: 100px;
} */