// for (let i = 0 ;arr.length ; i++ ){}

// for 迴圈
@for $i from 1 through 10 {
    .box-#{$i} {
        width: $i * 1px;
    }
}


//  grid-col 
@mixin grids($key, $num) {
    @for $i from 1 through $num {
        .col-#{$key}-#{$i} {
            width: ($i / $num) * 100%;
            @content
        }
    }
};



@media all and (min-width :767px) and (max-width:1200px) {
    @include grids(md, 12) {
        display: block;
        text-align: center;
    }
}



@media all and (max-width :766px) {
    @include grids(xs, 12) {
        display: block;
        text-align: center;
        font-size: 14px;
    }
}