@import  'var';

.wrapper {
    width: 100%;
    .blog {
        width: 450px;
        h1 {
            font-size: $font-title;
        }
        img {
            width: 300px;
        }
        .title {
            font-size: $font-blog-title;
            font-weight: 300;
        }

        .content {
            font-size: $font-blog-content ;
        }

        .btn {
            width: 150px;
            padding: 10px;
            text-align: center;
            background-color: $font-blog-btn--bcolor;
            cursor: pointer;
            transition: .2s all ease-in;
            font-size: $font-blog-btn;
            //偽元素
            //顏色函式
            &:hover {
                background-color:darken($font-blog-btn--bcolor , 15%);
            }
            &::before {
                content: '';
            }
            &::after {
                content: '';
            }

        }
    }
}