// for (let i = 0 ;arr.length ; i++ ){}

// for 迴圈
@for $i from 1 through 10 {
    .box-#{$i} {
        width: $i * 1px;
    }
}

//  grid-col
@mixin grids($key, $num) {
    @for $i from 1 through $num {
        .col-#{$key}-#{$i} {
            width: floor(($i / $num) * 100%);
            @content
        }
    }
}

;

//桌機
@include grids(xd, 12) {
    display: inline-block;
    background-color: #9dff00;
    height: 300px;
}

;


//平板
@media all and (min-width :767px) and (max-width:1200px) {
    @include grids(md, 12) {
        font-size: 15px;
        height: 300px;

    }
}

//手機版
@media all and (max-width :766px) {
    @include grids(xs, 12) {
        display: block;
        text-align: center;
        font-size: 14px;
        height: 300px;
    }
}


// extend
$images: a1 a2 a3 a4 boxer people sass array; //list

@each $img in $images {
    .#{$img}-img {
        background-image:url(./img/#{$img}.jpg);
        // @extend .bg-image;
    }
}

// jpg or png
@mixin img_bg($files, $list) {
    @if $files==jpg {
        @each $img in $list {
            .#{$img}-img {
                background-image:url(./img/#{$img}.jpg);
                @extend .bg-image;
                @content;
            }
        }
    }

    @else if $files==png {
        @each $img in $list {
            .#{$img}-img {
                background-image:url(./img/#{$img}.png);
                @extend .bg-image;
                @content;
            }
        }
    }
}

//不一樣的寫法
@mixin img_bgs($files, $list) {
    @each $img in $list {
        .#{$img}-img {
            @if $files==jpg {
                background-image:url(./img/#{$img}.jpg);
            }

            @else if $files==png {
                background-image:url(./img/#{$img}.png);
            }
        }
        @extend .bg-image;
        @content;
    }
}




@include img_bg(jpg, b1 b2 b3) {
    display: inline;
    border: 1px solid #333;
}

;
@include img_bg(png, p1 p2 p3 p4);
@include img_bgs(png, j1 j2 j3 j4);


///=======  h1 - h5 font-size
@mixin  title_module($titles){
@each $title,
$value in $titles {
    #{$title} {
        font-size: $value;
    }
   }
 };

 @include title_module($titles);




@mixin btnColor($btnColor) {
    @each $key,
    $color_val in $btnColor {
        .btn-#{$key} {
            background-color: $color_val;
        }
    }
}

