@import 'var';


//不帶值
@mixin margin() {
    margin: 0 auto;
    text-align: center;
}

@mixin btn($w, $bgc, $fontSize:null) {
    width: $w;
    padding: 10px;
    font-size: $fontSize;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    background-color: $bgc;
    transition: .2s all ease-in;

    &:hover {
        background-color: darken($bgc, 10%);
    }
}

@mixin btn-modules($class , $w, $bgc, $fontSize) {
    #{$class} {
        width: $w;
        padding: 10px;
        font-size: $fontSize;
        text-align: center;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        background-color: $bgc;
        transition: .2s all ease-in;
        @content;
        &:hover {
            background-color: darken($bgc, 10%);
           
        }
    }
}


//帶值
@mixin padding($num) {
    padding: $num;
}

@mixin margin-num($num) {
    margin: $num auto;
    position: relative;
    top: $num;
}

.wrapper-mixin {
    width: 800px;

    .box {
        @include margin();
    }

    .spec {
        width: 300px;
        @include margin();
    }

    .btn {
        @include btn(100px, #0070f0);
        @include margin();
    }

    .btn-big {
        @include btn(200px, #00f014, 13px);
        @include margin();
    }
    //@content 帶值到mixin
    @include btn-modules('#btn-error', 150px ,#f20 , 13px){
        border: 2px solid #00eee2;
    }
}