$font-size : 21px;
$color : #333;
$margin : 10px 20px 30px 40px;  // list
$bg-color : (
  'blue' : #0059ff,
  'yellow' : #ffd900,
  'green' : #73ff00
); // map 數值 
$null : null; // 空值


$font-title : 30px;
$font-blog-title : 20px;
$font-blog-content : 14px;
$font-blog-btn : 20px;
$font-blog-btn--bcolor : #8a00da;

//變數

$bgc : #009266;
$w : 10;
$h : 9;