.wrapper{
    width: 100%;
    .blog {
        width: 450px;
        h1 {
            font-size: 30px;
        }
        img{
            width: 300px;
        }
        .title {
            font-size: 23px;
            font-weight: 300;
        }
        .content{
            font-size: 14px;}
        .btn {
            width: 300px;
            padding: 10px;
            background-color: #f20; 
         &:hover {
             background-color: rgb(196, 0, 0);
         }
         &::before  {
             content: '';
         }
         &::after {
             content: '';
         }

        }
    }
}