// function name(){
// //函式
// }


//不帶值
@mixin margin() {
    margin: 0 auto;
    text-align: center;
}

@mixin btn() {
    width: 200px;
    padding: 10px;
    color: #fff;
    background-color: #fa0000;
    @include margin();
}


//帶值
@mixin padding($num) {
    padding: $num;
}


@mixin margin-num($num) {
    margin: $num auto; 
    position: relative;
    top : $num;
}



.wrapper-mixin {
    width: 800px;

    .box {
        @include margin();
    }

    .spec {
        width: 300px;
        @include margin();
    }

    .btn {
        @include btn();
        @include margin-num(50px);
    }
}

